# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# use mw/log stub implementation by default
build:_bl_common_stub --//score/mw/log/detail/flags:KUse_Stub_Implementation_Only=False
build:_bl_common_stub --//score/mw/log/flags:KRemote_Logging=False
build:_bl_common_stub --//score/json:base_library=nlohmann
build:_bl_common_stub --//score/memory/shared/flags:use_typedshmd=False

# use mw/log stub implementation by default
build:_bl_common --config=_bl_common_stub
build:_bl_common --incompatible_strict_action_env
build:_bl_common --host_platform=@score_bazel_platforms//:x86_64-linux

# This config us for internal module usage ONLY.
build:bl-x86_64-linux --config=_bl_common
build:bl-x86_64-linux --platforms=@score_bazel_platforms//:x86_64-linux
build:bl-x86_64-linux --extra_toolchains=@gcc_toolchain//:host_gcc_12

# This config us for internal module usage ONLY.
build:bl-x86_64-qnx --config=_bl_common
build:bl-x86_64-qnx --platforms=@score_bazel_platforms//:x86_64-qnx
build:bl-x86_64-qnx --extra_toolchains=@toolchains_qnx_qcc//:qcc_x86_64

# This config us for internal module usage ONLY.
test:bl-x86_64-linux --config=_bl_common
test:bl-x86_64-linux --build_tests_only
test:bl-x86_64-linux --test_tag_filters=-manual
test:bl-x86_64-linux --test_output=errors
