# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************
name: Bazel Build (Linux)
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
  merge_group:
    types: [checks_requested]
jobs:
  linux-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.job }}
          repository-cache: true
          cache-save: ${{ github.event_name == 'push' }}
      - name: Bazel Build
        run: |
          bazel build --config bl-x86_64-linux -- //score/...
      - name: Bazel Test
        run: |
          bazel test --config bl-x86_64-linux -- //score/... \
          -//score/language/safecpp/aborts_upon_exception:abortsuponexception_toolchain_test \
          -//score/containers:dynamic_array_test
