# *******************************************************************************
# Copyright (c) 2026 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************
name: Code Coverage
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
  merge_group:
    types: [checks_requested]
jobs:
  coverage-report:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install lcov
        run: |
          sudo apt-get update
          sudo apt-get install -y lcov
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.job }}
          repository-cache: true
          cache-save: ${{ github.event_name == 'push' }}
      - name: Run Bazel Coverage
        run: |
          bazel coverage --config=bl-x86_64-linux -- //score/... \
          -//score/language/safecpp/aborts_upon_exception:abortsuponexception_toolchain_test
      - name: Generate HTML Coverage Report
        run: |
          genhtml "$(bazel info output_path)/_coverage/_coverage_report.dat" \
            -o=cpp_coverage \
            --show-details \
            --legend \
            --function-coverage \
            --branch-coverage
        shell: bash
      - name: Upload Coverage Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}_coverage_report
          path: cpp_coverage/
          retention-days: 30
